<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/home">POS</a>

        </div>
        <ul class="nav navbar-nav">
            <li><a href="/menus">Menu</a></li>
            <li><a href="/order">Order</a></li>
            <li><a href="/cashier">Cashier</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
